div.jumbotron {
    margin-bottom: 0 !important;
    background-color: #8585ad;
}

.container-fluid {
	padding :0px 0px !important;
}

html, body {
        max-width: 100%;
        overflow-x: hidden;
        height: 120vh;
    }

nav {
    margin-bottom: 0 !important;
}

.heading1 {
    font-weight: lighter;
}

.heading2 {
    font-weight: lighter;
    font-size: larger;
    position: absolute;
    top: 0;
    left: 0;
    margin:10px 30px;
    color:#DC143C;
}

.bg {
    height: 100vh;
    padding: 0px
}

.input-div {
    margin-top: 5%
}

.jumbotron {
    margin-top: -2%;
    padding-top: 90px;
}
img {
	margin-bottom: 30px;
	width: 100%;
}
.keywords {
display: inline-block;
text-decoration: underline;
letter-spacing: 0.1em;
}
.keywords:hover{
    cursor: pointer;
}
.keyword-box{
    text-align: center;
    
}
.keyword-box:hover {
 font-weight: bold;   
 color:#DC143C;
 border: 1px solid #8585ad;
}
.times{
    position: absolute;
    top: 0;
    left: 0;
    margin-left:90%;
    margin-top: -2%
}
.times:hover{
 cursor: pointer;   
}
.alert-dismissable {
   position: absolute;
    top: 0; 
    width: 100%;
}
/*.back-button{
    position: absolute;
    top: 0;
    left: 0;
    float: left;
}
*/
input[type = "text"]{
    text-align: center;
    font-weight: lighter;
    font-size: 25px
}
